.button{
    -fx-background-color: white;
    -fx-border-width: 2;
    -fx-text-fill:  #599dff;
    -fx-background-radius: 41;
}
.button:hover{
    -fx-border-color: #599dff;
    -fx-background-color: none;
    -fx-border-radius: 35;
    -fx-border-style: none;
    -fx-border-width: 0;
}
